@import "tailwindcss";

@font-face {
  font-family: "Josefin Sans";
  src: url("../public/fonts/JosefinSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 200;
  src: url("../public/fonts/Poppins-Light.ttf") format("truetype");
}

@theme inline {
  --font-josefin: "Josefin Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  
  /* Color Variables */
  --color-purple: #253b8e;
  --color-yellow-100: #fffec9;
  --color-blue-100: #b3edff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}